
.explainText{
    font-size:var(--largeFont);
    float:left;
    margin:5px;
    padding:5px;
}

.switchText{
    float:left;
    background-color:var(--navy);
    color:var(--lightSeafoam);
    border-radius:10px;
    margin:5px;
    padding:5px;
    border:solid 2px var(--navy);
}

.switchText:hover{
    background-color:var(--navyTransparent);
}


.comparisonTable{
    /*display:table;*/
    border-collapse:collapse;
    width:80%;
    display:inline-block;
    margin: 0px auto;
    position:relative;
    table-layout:fixed;
}

.moveRow{
    height:25px;
    background-color:none;
    /*display:table-row;*/
    width:100%;
}

.hieghtRow{
}

.moveCell{
    /*display:table-cell;*/
    vertical-align:top;
    max-width:200px;
}
.moveCellReview{
    /*display:table-cell;*/
    vertical-align:top;
    max-width:200px;
}

.moveCellOverComment{
    /*display:table-cell;*/
    vertical-align:top;
    max-width:200px;
    background-color:var(--lightSeafoam);
}

.headerRow{
    margin:10px;
    /*display:table-row;*/
    background-color:var(--navyHeavyTransparent);
    color:white;
}

.comparisonRow{
    margin:10px;
    /*display:table-row;*/
    background-color:var(--navyHeavyTransparent);
    /*color:white;*/
}

.comparisonCell{
    /*display:table-cell;*/
    vertical-align:top;
    padding:20px;
    word-wrap:break-word;    
    border-top:none;
    border-bottom:none;
    border-left:solid 1px var(--lightSeafoam);
    border-right:solid 1px var(--lightSeafoam);
    text-align:left;
    vertical-align:middle;
    font-size:var(--smallMediumFont);
}

.comparisonImageCell{
    text-align:center;
    background-color:white;
    width:200px;
    height:200px;
    /*border-left:solid 2px rgba(0,0,0,.1);*/
}

.comparisonImage{
    max-width:200px;
    max-height:200px;
}

.comparisonId{

}

.comparisonTitle{
    max-width:200px;
    font-size:var(--smallMediumFont);

}

.comparisonPrice{
    text-align:center;
    font-size:var(--mediumFont);
}

.comparisonOverallRating{
    text-align:center;
    font-size:var(--mediumFont);
}

.comparisonServingSize{
}

.comparisonColor{
}

.comparisonDurability{
}

.comparisonBrewingTime{
}

.comparisonWarranty{
}

.comparisonBrand{
}

.comparisonType{
}

.comparisonDescription{
    max-width:400px;
    border-right:none;
}

.extraCell{
    width:500px;
}

.comparisonComments{
    display:table-cell;
    width:20px;
    background-color:var(--lightSeafoam);
    /*border:solid 2px black;*/
}

.reviewRow {
    background-color:var(--navyHeavyTransparent);
    text-align:left;
    font-size:var(--smallMediumFont);
    /*color:white;*/
    padding:10px;
}