.leftContainer {
    text-align:center;
    height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.category{
    width:250px;
    background-color:var(--navy);
    border-radius:10px;
    text-align:center;
    padding:20px;
    margin:10px;
    display:inline-block;
}

.categoryHidden{
    width:250px;
    background-color:var(--navy);
    border-radius:10px;
    text-align:center;
    padding:20px;
    margin:10px;
    display:none;
    vertical-align:top;
}

.categoryLabel{
    font-size:var(--largeFont);
    color:white;
}

.item{
    text-align:left;
    border:none;
    display:inline-block;
    margin:3px;

}

input[type="text"], textarea {
  text-align:center;
  background-color : white; 
  border:0;
  border-radius:5px;
  height:40px;
}

.dropArea{
    height:800px;
    width:100%;
    border:solid 3px var(--navy);
    border-radius:10px;
    text-align:center;
}