
.filterElement {
    width: 200px;
    height: 100px;
    padding: 10px;
    margin:10px;
    color:white;
    background-color:var(--navy);
    text-align:center;
    border: 1px solid #000000;
    border-radius:10px;
    display:inline-block;
    line-height:80px;
    font-size:var(--mediumFont);
}

.filterElement:hover {
    background-color:var(--navyTransparent);
    cursor:pointer;
}

.filterElement:active {
    background-color:var(--yellow);
    box-shadow:0 0 20px var(--navy);
}

.addedFilter {
    display:inline-block;
    float:left;
    background-color:lightgrey;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    min-width:200px;
    margin:10px;
}
