
.filterElement {
    width: 200px;
    height: 100px;
    margin:10px;
    color:var(--lightSeafoam);
    background-color:var(--navy);
    text-align:center;
    /*border: 1px solid #000000;*/
    border-radius:10px;
    display:inline-block;
    font-size:var(--mediumFont);
    vertical-align:top;
}

.filterElement:hover {
    background-color:var(--navyTransparent);
    cursor:pointer;
}

.filterElement:active {
    /*background-color:var(--yellow);
    box-shadow:0 0 20px var(--navy);*/
}

.filterText {
    position:relative;
    top:32px;
}


.addedFilter {
    width: 300px;
    height:300px;
    margin:10px;
    color:white;
    background-color:var(--navy);
    text-align:center;
    border: 1px solid #000000;
    border-radius:10px;
    font-size:var(--mediumFont);
    z-index: 3;
    position:absolute;
    display:none;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    vertical-align:top;
}

.addedFacetClose{
    position:absolute;
    bottom:15px;
    left:15px;
}

.addedFacetClose:hover{
    cursor:pointer;
}

.addedFacetSelect{
    position:absolute;
    bottom:15px;
    right:15px;
}

.addedFacetSelect:hover{
    cursor:pointer;
}

.listOptions{
    /*display:block;*/
    position:absolute;
    bottom:20px;
    text-align:center;
    width:100%;
    font-size:var(--mediumFont);
}