@*Filter Options Page*@ 

@{
    ViewData["Title"] = "Filter Page";
}



<style>
    #dropField {
        width: 960px;
        height:auto;
        min-height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

    .filterElement {
        width: 100px;
        height: 50px;
        padding: 10px;
        margin:10px;
        color:blue;
        background-color:aqua;
        text-align:center;
        border: 1px solid #000000;
        border-radius:10px;   
    }

    .filterElement:hover {
        background-color:blueviolet;
        cursor:grab;
    }

    .priceOption {
        width: 100px;
        height: 50px;
        padding: 10px;
        margin:10px;
        color:blue;
        background-color:aqua;
        text-align:center;
        border: 1px solid #000000;
        border-radius:10px;   
    }

    .addedFilter {
        display:inline-block;
        background-color:lightgrey;
        border: 2px solid #aaaaaa;
        border-radius: 10px;
        min-width:200px;
        margin:10px;
    }


</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    var copy = document.getElementById(data.concat("Added")).cloneNode(true);
    copy.opacity = "1";
    copy.style.display = "inline";
    //ev.target.appendChild(copy);
    document.getElementById("dropField").appendChild(copy);
    document.getElementById("dropField").appendChild(document.createElement("br"));
}
document.addEventListener("dragstart", function (event) {
    //event.dataTransfer.setData("Text", event.target.id);
    event.target.style.opacity = "0.4";
});

document.addEventListener("dragend", function (event) {
    event.target.style.opacity = "1";
});

/*
document.addEventListener("drag", function (event) {
    event.dataTransfer.setData("Text", event.target.id);
    event.target.style.opacity = "0.4";
});
*/
</script>

<div style="height:50px;">
</div>

<div 

<div style="height:50px;">
    <span class="filterElement" id="price" draggable="true" ondragstart="drag(event)">
        Price
    </span>

    <span class="filterElement" id="color" draggable="true" ondragstart="drag(event)">
        Color
    </span>
</div>


<div id="priceAdded" style="display:none">
    <div class="addedFilter">
        Price <br />
        <input type="checkbox" name="price" value="price0To50" /> 0 → 50<br />
        <input type="checkbox" name="price" value="price50To100" /> 50 → 100<br />
        <input type="checkbox" name="price" value="price100To200" /> 100 → 200<br />
        <input type="checkbox" name="price" value="price200To500" /> 200 → 500<br />
    </div>
</div>

<div id="colorAdded" style="display:none">
    <div class="addedFilter">
        Color <br />
        <input type="checkbox" name="color" value="Green" /> Green <br />
        <input type="checkbox" name="color" value="Black" /> Black <br />
        <input type="checkbox" name="color" value="Blue" /> Blue <br />
        <input type="checkbox" name="color" value="Red" /> Red <br />
        <input type="checkbox" name="color" value="Grey" /> Grey <br />
        <input type="checkbox" name="color" value="Yellow" /> Yellow <br />
    </div>
</div>

<div style="height:50px;"></div>
<form asp-controller="InitialOptions" asp-action="Index" method="post">
    Drop the desired Facets into the field below: <br />
    <div id="dropField" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    
    <br />
    <input type="submit" value="Proceed With Selected Facets" />
</form>