@*Index for Initial Options*@

@using HccCoffeeMaker.Models.CoffeeMakerModels;

@{
}


@*<div style="overflow-x:scroll;width:960px;height:600px;white-space:nowrap;">*@
<table style="display:block;overflow-x:scroll;">
    <tr>
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["products"])
        {
            <td>
                @Html.Partial("AmazonProductPartial", item)
            </td>
        }
    </tr>
</table>
@*</div>*@
