@*Index for Initial Options*@

@using HccCoffeeMaker.Models.CoffeeMakerModels;

<link rel="stylesheet" type="text/css" href="~/css/Comparison.css" />
<script src="~/js/InitialOptions.js" ></script>

@*<table style="display:block;overflow-x:scroll;">
    <tr>
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["products"])
        {
            <td>
                @Html.Partial("~/Views/Shared/Partials/AmazonProductPartials/AmazonProductPartialSmall.cshtml", item)
            </td>
        }
    </tr>
</table>*@

<div style="width:100px;height:100px;background-color:aqua;" onclick="SwitchPerspective()">
    Switch To Comparison
</div>


<div id="Selection">
    <div style="text-align:center">
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["products"])
        {
            @Html.Partial("~/Views/Shared/Partials/AmazonProductPartials/AmazonProductPartialSmall.cshtml", item)
        }
    </div>
</div>

<div id="Comparison" style="display:none;">
    @Html.Partial("~/Views/InitialOptions/Comparison.cshtml");
</div>