@*Index for Initial Options*@

@using HccCoffeeMaker.Models.CoffeeMakerModels;

<link rel="stylesheet" type="text/css" href="~/css/Comparison.css" />
<link rel="stylesheet" type="text/css" href="~/css/InitialOptions.css" />
<script src="~/js/InitialOptions.js" ></script>

<script>
    @*@{ 
        var a = new AmazonProductModel()
    }*@
</script>

<a href="javascript:history.back()">
    <div id="leftArrow"
         onclick="Judgement(event, id)"
         onmouseover="MouseOverCursor(event, this.id)"
         onmouseout="MouseOutDefault(event, this.id)" >
        <font style="font-size:250px;"> < </font>
    </div>
</a>

<div id="rightArrow" 
     onclick="MoveToComparison(event, id)"
     onmouseover="MouseOverCursor(event, this.id)"
     onmouseout="MouseOutDefault(event, this.id)"
     >
    <font style="font-size:250px;"> > </font>
</div>

<div id="Selection">

    <div style="height:60px;"></div>
    <div style="font-size:var(--extraLargeFont);text-align:center">Select the products you wish to compare </div>
    <hr />
    <div style="font-size:var(--largeFont);">Your curated machines </div>

    <div style="text-align:center">
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["userCurations"])
        {
            @Html.Partial("~/Views/Shared/Partials/AmazonProductPartials/AmazonProductPartialSmall.cshtml", item)
        }
    </div>
    <hr />
    <div style="font-size:var(--largeFont);">Coffee machines matching your search </div>
    <div style="text-align:center">
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["products"])
        {
            @Html.Partial("~/Views/Shared/Partials/AmazonProductPartials/AmazonProductPartialSmall.cshtml", item)
        }
    </div>


</div>

<div id="Comparison" style="display:none;">
    @Html.Partial("~/Views/InitialOptions/Comparison.cshtml");
</div>

