@*
    Type Selection Index
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" type="text/css" href="~/css/OptionBox.css" />

<div style="height:100px;"></div>
<div style="font-size:var(--extraLargeFont);text-align:center;">Which type of Coffee Maker are you interested in?</div>
<div style="height:50px;"></div>

<div style="text-align:center">
    <div class="optionBox selectable" id="frenchPress">
        <a style="color:black;text-decoration:none;" href="/Filter/Index/?coffeeMakerType=FrenchPress">
            <img class="optionImage" src="~/images/FrenchPress.jpg" />
            <div class="optionDescription" id="frenchPressDescription">
                The French Press is a low tech portable coffee brewing method. Let hot water steep over 
                coarsely ground coffee for 3-4 minutes before pressing down the filter and serving. 
                It doesn’t get more simple than that <br />
                <span style="font-size:12px">https://ineedcoffee.com/press-pot-tutorial/</span>

            </div>
            <div class="imageText" id="frenchPressTitle">French Press</div>
        </a>
    </div>
    <div class="optionBox selectable" id="smallPods">
        <a style="color:black;text-decoration:none;" href="/Filter/Index/?coffeeMakerType=SingleServePods">
            <img class="optionImage" src="~/images/Keurig.jpg" />
            <div class="optionDescription" id="smallPodsDescription">
                Single-serve coffee containers can both reduce the time needed to brew coffee and simplify 
                the brewing process by eliminating the need to measure out portions, flavorings, and additives from large bulk containers. <br />
                <span style="font-size:12px">https://en.wikipedia.org/wiki/Single-serve_coffee_container</span>
            </div>
            <div class="imageText" id="smallPodsTitle">Single Serve Pods</div>
        </a>
    </div>
    <div class="optionBox selectable" id="automaticDrip">
        <a style="color:black;text-decoration:none;" href="/Filter/Index/?coffeeMakerType=AutomaticDrip">
            <img class="optionImage" src="~/images/AutomaticDrip.jpg" />
            <div class="optionDescription" id="automaticDripDescription">
                Drip brewing, filtered coffee, or pour-over is a method which involves pouring water over roasted, 
                ground coffee beans contained in a filter, creating the beverage called coffee. <br />
                <span style="font-size:12px">https://en.wikipedia.org/wiki/Drip_brew</span>
            </div>
            <div class="imageText" id="automaticDripTitle">Automatic Drip</div>
        </a>
    </div>
    <hr />

    <a href="/Filter/Index/?coffeeMakerType=SelectAll">
        <div class="blueButton" style="width:200px;">
            <span style="position:relative;top:32px">Select All</span>
        </div>
    </a>

</div>
<script src="~/js/jquery-1.3.2-vsdoc2.js"></script>
<script>
    $(document).ready(function () {
        $("#frenchPress").mouseover(function () {
            var textHeight = $("#frenchPressDescription").height();
            var titleOffset = $("#frenchPressTitle").offset().top;
            $("#frenchPressTitle").animate({ top: textHeight + titleOffset });
            document.getElementById('frenchPressDescription').style.display = "inline-block";
        });

        $("#frenchPress").mouseout(function () {
            document.getElementById('frenchPressDescription').style.display = "none";
        });

        $("#smallPods").mouseover(function () {
            document.getElementById('smallPodsDescription').style.display = "inline-block";
            //var toAppend =
            //document.getElementById('frenchPress').appendChild(
            //    document.getElementById('smallPodsDescription')
            //    )
        });
        $("#smallPods").mouseout(function () {
            document.getElementById('smallPodsDescription').style.display = "none";
        });

        $("#automaticDrip").mouseover(function () {
            document.getElementById('automaticDripDescription').style.display = "inline-block";
        });
        $("#automaticDrip").mouseout(function () {
            document.getElementById('automaticDripDescription').style.display = "none";
        });
    });
</script>
